
   
   fieldset{
  background :rgb(214, 209, 209);
 border-radius: 1px solid #333;
 padding: 0 0 0 0px;

   }

   input ,button {
   position: relative;
   float: right;
   width: 200px;
   height: 37px;
   right: 10px;
   left: 0px;
   padding: 0px;
   border-radius: 1px solid #333;
  }
   input{
       border: none;
       color : rgb(97, 96, 96)
       padding 0px;
       margin: auto;
   }
 
   button {
      width: 50px; 
      border: none;
      background:rgb(255, 255, 255);
      top: 0px;
      margin : 0px;
     
     
     
     
   }
   .fa-search{
    width: 20px;
    height: 20px;
    padding: 0;  
    right: 0px;
    left : 0px;
    top : 0px;
    
    position: relative;
    color: blue;
   }


   input:focus{
    outline: none;
   }

  #algo{
     padding: 1px 2px 2px -2px;
     width: 20px;
     height: 20px;
     top: 10px;
     right: 20px;
     position: center;
  }
  
  
  
  


  
  
  