/* reset css*/


/*then feel free! It's all explicitly in the public domain (I have to formally say that or else peop

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    margin: 0px;
    background-image: none;
    position: center;
    left: 0px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}


/*fin reset css*/


/* ESTILOS BASICOS*/

@font-face {
    font-family: "HelveticaNeue";
    src: url(fuentes/HelveticaNeue.ttf) format(truetype);
}


/*-------ENCABEZADO------*/

body {
    font-family: HelveticaNeue, Arial, sans-serif;
    font-size: 15px;
    color: white;
    line-height: 1.4;
}

html {
    font-family: Arial, sans-serif;
}

div {
    display: block;
}

li {
    text-align: -webkit-match-parent;
}

img {
    border-width: 0px;
    position: absolute;
    left: 36px;
    top: 0px;
    width: 60px;
    height: 100px;
}

form {
    display: block;
    margin-top: 0em;
    top: 20px;
    left: 700px;
}

.row {
    margin-bottom: 10px;
}

.linea {
    background: black;
}

offer-box {
    background-color: #6A75F0;
    border: 1px solid #096FC0;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
}

.box-border {
    border: 1px solid #e1e1e1;
}

form .form-group .submit-buscador {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0;
    text-indent: -9999px;
    width: 50px;
    background-image: url(../img/lupa.png);
    background-position: right center;
    background-repeat: no-repeat;
    border: none;
}


/* image de hacerca de lo mas vendido*/

#listas {
    color: #33C3F0;
    left: 50%;
    right: 50px;
}


/*#cel{
  border-color: rgb(248, 248, 248);
  background-image:initial;
  background: rgb(204, 204, 212);
}*/

.img-ventas {
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(255, 255, 255);
    margin-bottom: 80px;
}

.img-ventas:nth-child(1) {
    background-image: url("/img/sansungA30.PNG");
    width: 10px;
    border: 0;
    background-color: white;
}

.img-ventas:nth-child(2) {
    background-image: url("/img/Audio/Audifonos.webp");
    width: 10px;
    background-color: white;
    border: 0;
}

.img-ventas:nth-child(3) {
    background-image: url("/img/Audio/baterias.jpg");
    background-color: white;
    width: 10px;
    border: 0;
}

.img-ventas:nth-child(4) {
    background-image: url("/img/Audio/cables\ usb.jpg");
    width: 10px;
    background-color: white;
    border: 0;
}

.row-1 {
    float: right;
    margin-top: 50px;
    width: 50%;
    text-align: center;
    margin-top: 0px;
    height: 400px;
    /* position: relative; */
    display: flex;
    /* justify-content: left; */
    align-items: left;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    text-align: left;
    padding-left: 2%;
    padding-top: 5%;
}

.row-4 {
    float: right;
    margin-top: 50px;
    width: 50%;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/img/sansungA30.PNG");
    text-align: center;
    margin-top: 0px;
    height: 400px;
    position: relative;
    background-color: rgb(255, 255, 255);
}
/*ESTILOS DE LOS DETALLES DE ACESORIOS */
.row-4A {
    float: right;
    margin-top: 50px;
    width: 50%;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/img/Acesorios/img5.jpg");
    text-align: center;
    margin-top: 0px;
    height: 400px;
    position: relative;
    background-color: rgb(255, 255, 255);

}

.row-5A {
    background-color: transparent;
    float: right;
    margin-top: 40px;
    width: 50%;
    text-align: center;
    margin-top: 0px;
    height: 400px;
    top: 0px;
    width: 90%;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
    background-image: url("/img/Acesorios/xiomi.PNG");
}

.btncompra{
    position: relative;
    width: 60px;
    padding: 5px 10px;
    margin-bottom: 100px;
    margin-right: 3%;
    margin-top: 160px;
   
  
    
}
/*FIMNALISA ESTILOS */

.row-2 {
    margin-top: 0px;
    /* top: 90px; */
    /* display: flex; */
    /* margin-left: auto; */
    font-size: 30px;
}

.row-3 {
    margin-top: 80px;

    font-size: 30px;
}


/*detade compras estilos SCC*/

.boton {
    width: 120px;
}

.datalle .a {
    color: #096FC0;
}

.boton .detalle {
    /* top: 10px; */
    width: auto;
    /* left: -367px; */
    /* position: center; */
    border: 1;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    margin-bottom: 20px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    padding: 0 8px;
    border-radius: 3px;
    vertical-align: text-bottom;
    color: #528ec1;
    border: 2px solid #528ec1;
}


/**compras*/

.boton-compra .detalle-compra {
    top: 40px;
    width: 120px;
    left: -250px;
    position: center;
    margin-top: 20px;
    border: 1;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    margin-bottom: 20px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 0 8px;
    border-radius: 3px;
    vertical-align: text-bottom;
    color: #528ec1;
    border: 2px solid #528ec1;
}

.hr {
    width: 100%;
    height: 2px;
    background-color: rgba(161, 159, 159, .4);
}


/*.row-5{
  
}*/

.row-5 {
    background-color: transparent;
    float: right;
    margin-top: 40px;
    width: 50%;
    text-align: center;
    margin-top: 0px;
    height: 400px;
    top: 0px;
    width: 90%;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
    background-image: url("/img/Sansumgs/DeatellesJ7Pro.PNG");
}

.cerca-de {
    font-size: 50px;
}


/*detade compras estilos SCC*/

.caption-r {
    display: flex;
    justify-content: center;
    border: black;
}

.caption-a {
    position: relative;
    color: #585858;
    right: 10px;
    top: 170px;
    background-color: 0;
    margin-left: -10px;
}

.caption-b {
    position: relative;
    right: 10px;
    top: 160px;
    background-color: 0;
    margin-left: -50px;
}


/*catalogo de telefonos*/

.imagen-telefonos {
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(253, 253, 253);
}

.imagen-telefonos:nth-child(1) {
    background-image: url("/img/Sansumgs/Captura.PNG");
    width: 0px;
    border: 0;
    background-color: #fff;
    bottom: auto;
}

.imagen-telefonos:nth-child(2) {
    background-image: url("/img/Sansumgs/sansugM30.PNG");
    width: 0px;
    border: 0;
    background-color: #fff;
    bottom: auto;
}

.imagen-telefonos:nth-child(3) {
    background-image: url("/img/Sansumgs/samsumJduo.PNG");
    width: 0px;
    border: 0;
    background-color: #fff;
    bottom: auto;
}

.imagen-telefonos:nth-child(4) {
    background-image: url("/img/Sansumgs/sansung\ J7.PNG");
    width: 0px;
    border: 0;
    background-color: #fff;
    bottom: auto;
}

.caption-a1 {
    display: flex;
    justify-content: center;
    border: black;
}

.caption-ax {
    position: relative;
    color: #585858;
    right: 10px;
    top: 190px;
    background-color: 0;
    margin-left: -41px;
}

.caption-bx {
    position: relative;
    top: 170px;
    left: -10px;
}

.botones .clik-compra {
    top: 170px;
    width: 90px;
    left: 35px;
    position: center;
    border: 1;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    margin-bottom: 20px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    padding: 0 8px;
    border-radius: 3px;
    vertical-align: text-bottom;
    color: #528ec1;
    border: 2px solid #528ec1;
}

.clik-compra:hover {
    background-color: cornflowerblue;
    color: #fdf9f9;
}

.ubicacion {
    margin-bottom: 11px;
    position: relative;
    top: 100%;
    left: -30px;
}

.comtacto-mapa:nth-child(1) {
    position: relative;
    background-color: aqua;
    margin-left: 400px;
    margin-left: 400px;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(8, 7, 7);
    background-image: url("/img/Sansumgs/ubicacion.PNG");
}

.thumbnail .caption.img-ventas {
    padding: 9px;
    color: rgb(19, 18, 18);
}

.id-hidden {
    height: 0;
    width: 0;
    display: flex;
    position: absolute;
    right: -110;
    font-size: 0;
    color: transparent;
}
/*MANIPULACION DE LAS IMAGES DE LOS ACSORIOS*/
.imagen-Acesorios{
    background-size: 0%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(253, 253, 253);
}

.imagen-Acesorios:nth-child(1) {
    background-image: url("/img/Acesorios/img5.jpg");
    background-size: 90%;
    width: 0px;
    border: 0;
    background-color: #fff;
    bottom: auto;
}
.imagen-Acesorios:nth-child(2) {
    background-image: url("/img/Acesorios/baterias.jpg");
    background-size: 90%;
    width: 0px;
    border: 0;
    background-color: #fff;
    bottom: auto;
}
.imagen-Acesorios:nth-child(3) {
    background-image: url("/img/Acesorios/img1.jpg");
    background-size: 100%;
    width: 0px;
    border: 0;
    background-color: rgb(255, 255, 255);
    bottom: auto;
}
.imagen-Acesorios:nth-child(4) {
    background-image: url("/img/Acesorios/cargadorAndroid.jpg");
    background-size: 100%;
    width: 0px;
    border: 0;
    background-color: rgb(255, 255, 255);
    bottom: auto;
}
.imagen-Acesorios:nth-child(5) {
    background-image: url("/img/Acesorios/img4.jpg");
    background-size: 100%;
    width: 0px;
    border: 0;
    background-color: rgb(255, 255, 255);
    bottom: auto;
}
.imagen-Acesorios:nth-child(6) {
    background-image: url("/img/Acesorios/img3.jpg");
    background-size: 100%;
    width: 0px;
    border: 0;
    background-color: rgb(255, 255, 255);
    bottom: auto;
}
.imagen-Acesorios:nth-child(7) {
    background-image: url("/img/Acesorios/adactadortelefono.jpg");
    background-size: 105%;
    width: 0px;
    border: 0;
    background-color: rgb(255, 255, 255);
    bottom: auto;
}
.imagen-Acesorios:nth-child(8) {
    background-image: url("/img/Acesorios/SoporteTelefonos.jpg");
    background-size: 100%;
    width: 0px;
    border: 0;
    background-color: rgb(255, 255, 255);
    bottom: auto;
}


/*estilos de los servicios */
.clas1{
  
    margin-top: 15px;
    margin-left: auto;
}


.row-s{
    text-align: center;
    font-size: 30px;
    color: blue;
    text-transform: uppercase;
}
.row-sr{
width: 100%;
height: 200px;
border-radius: 15px  ;
border: 1px solid rgb(60, 60, 202);
background-color: rgb(255, 255, 255);

}
.row-sr1{
    width: 100%;
    height: 200px;
    border-radius: 15px  ;
    border: 1px solid rgb(60, 60, 202);
    background-color: rgb(255, 255, 255);
    
    }

.row-srr:nth-child(1){
    background-repeat: no-repeat;
    background-image: url("/img/Servicios/ServiciosdeHadware.jpg");
    background-size: 40%;
    width: 60%;
    height: 60%;
    margin-top: 7%;
    margin-right: 0px;
    margin-left: 20px;
    border: 0;
    bottom: auto;
 }

 .row-srr{
    background-repeat: no-repeat;
    background-image: url("/img/Servicios/desbloque.jpg");
    background-size: 30%;
    width: 60%;
    height: 60%;
    margin-top: 7%;
    margin-right: 0px;
    margin-left: 20px;
    border: 0;
    bottom: auto;
 }
 .row-srr1:nth-child(1){
    background-repeat: no-repeat;
    background-image: url("/img/Servicios/desbloque.jpg");
    background-size: 30%;
    width: 50%;
    height: 50%;
    margin-top: 6%;
    margin-right: 0px;
    margin-left: 20px;
    border: 0;
    bottom: auto;
 }
 
 .row-srr12{
    background-repeat: no-repeat;
    background-image: url("/img/Servicios/descarga.jpg");
    background-size: 30%;
    width: 60%;
    height: 70%;
    margin-top: 0%;
    margin-right: 0px;
    margin-left: 20px;
    border: 0;
    bottom: auto;

 }
 .row-srr13{
    background-repeat: no-repeat;
    background-image: url("/img/Servicios/descarga.jpg");
    background-size: 30%;
    width: 50%;
    height: 60%;
    margin-top: 4%;
    margin-right: 0px;
    margin-left: 30px;
    border: 0;
    bottom: auto;
 }
 .row-srr14{
    background-repeat: no-repeat;
    background-image: url("/img/Servicios/cambiodeBanda.jpg");
    background-size: 40%;
    width: 50%;
    height: 60%;
    margin-top: 4%;
    margin-right: 0px;
    margin-left: 30px;
    border: 0;
    bottom: auto;
 }
 .row-srr15{
    background-repeat: no-repeat;
    background-image: url("/img/Servicios/soporte.PNG");
    background-size: 22%;
    width: 60%;
    height: 60%;
    margin-top: 6%;
    margin-right: 0px;
    margin-left: 80px;
    border: 0;
    bottom: auto;
    position: relative;
 }


    .servcios-RM{
        text-align: center;
        position: relative;
        margin-left:40% ;
        margin-top: 10%;
        top:38px;
        left: 120px;
        color: rgb(0, 0, 0);
        font-size: 25px;
    }
    .servcios-RM1{
        text-align: center;
        position: relative;
        margin-left:50% ;
        margin-top: -6%;
        top:38px;
        left: 120px;
        color: rgb(18, 18, 19);
        font-size: 25px;
    }
    .servcios-RM12{
        text-align: center;
        position: relative;
        margin-left:0% ;
        margin-right: 2%;
        margin-top: 6%;
        top:38px;
        left: 125px;
        color: rgb(18, 18, 19);
        font-size: 25px;
    }


/*VALIDACION DE FORMULARIOS*/

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    height: 38px;
    padding: 6px 10px;
    /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}


/* Removes awkward default styles on some inputs for iOS /Elimina estilos predeterminados incóm*/

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border: 1px solid #33C3F0;
    outline: 0;
}

label,
legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
}

fieldset {
    padding: 0;
    border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
}

label>.label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal;
}


/*ESPACIOS DE  DE ENTRADA*/

button,
.button {
    margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset {
    margin-bottom: 1.5rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
    margin-bottom: 2.5rem;
}


/*Dandole diseño  al Header*/

.navbar {
    border-radius: 0px;
}

.navbar-default {
    background-color: 3F51B5;
    border-color: #000000;
}