body {
    background: whitesmoke;
}

h3 {
    column-span: all;
}

.nosotros {
    margin: 50px;
    text-align: center;
    padding: 50px;
    font-size: 130%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}